@import '_reverseCSs';
@import '_variable.scss';

*,*::before,*::after { 
  box-sizing: border-box; 
}

body{
  line-height: 1.5;
  font-family: 'San Francisco';
}

a{
  text-decoration: none;
  color: #AC8A46;
}

img{
  width: 100%;
  display: block;
  object-fit: cover;
}

@mixin mobile{
  @media(max-width: 768px){
    @content;
  }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 2,
  'wght' 700,
  'GRAD' 0,
  'opsz' 24
}


.container{
  max-width: 1110px;
  margin: 0 auto;
  @include mobile{
    padding: 0 15px;
  }
}

.d-flex{
  display: flex;
}

.f-warp{
  flex-wrap: wrap;
}

.f-end{
  justify-content: flex-end;
  align-items: center;
}

.f-jca{
  justify-content: center;
  align-items: center;
}

.d-column{
  flex-direction: column-reverse;
}


.logo{
  width: 128px;
  height: 38px;
  background-image: url("https://github.com/kawa3310/independent/blob/main/img/d%E2%80%99Perfume.png?raw=true");
}

.nav{
  width: 100%;
}

.nav-group{
  position: relative;
  justify-content: space-between;
  padding: 16px;
  @include mobile{
    padding: 9px;
    align-items: center;
  }
  .menu{
    position: absolute;
    right: -18%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $text-muted;
    gap: 32px;
    @include mobile{
      flex-direction: column;
      right: -50%;
      top: 360%;
      background-color: #fff;
      display: none;
      span{
        font-size: 50px;
      }
    }
  }
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8D8D8D;
  }
}

.mobile{
  gap: 19px;
  .mobile-icon{
    display: none;
    @include mobile{
      display: block;
    }
  }
  .icon-cart{
    position: relative;
  }
  .cartQuantity{
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 13px;
    top: -10px;
    right: -10px;
    padding: 10px;
    color: #FFFFFF;
    background-color: #916000;
    border-radius: 50%;
  }
}

.close{
  display: none;
}

.menu-input:checked ~ .menu{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.menu-label{
  display: inline;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.bc-img{
  background-image: url("https://images.unsplash.com/photo-1532413992378-f169ac26fff0?q=80&w=3024&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  @include mobile{
    background-position: 0px;
  }
  .title{
    padding: 312px 0 112px 0;
    h3{
      font-size: $font-l;
      color: #8D8D8D;
      padding-bottom: 20px;
    }
  }
}

.input-group input[type="text"]{
  border: 2px solid #916000;
  border-radius: 4px 0px 0px 4px;
  padding: 21px 57px 20px 16px;
}

.input-group input[type="submit"]{
  color: #FFFFFF;
  border: 2px solid #916000;
  border-radius: 0 4px 4px 0px;
  background-color: #916000;
  padding: 21px 26px 20px 27px;
  position: relative;
  margin: -6px;
}

.subnav{
  color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  @include mobile{
    display: block;
    padding: 32px 0;
  }
}

.submenu{
  justify-content: center;
  align-items: center;
  .logo{
    margin: 0 20px 0 0;
  }
  p{
    font-size: 14px;
  }
}

.sub-list{
  gap: 24px;
  @include mobile{
    display: none;
  }
  li{
    font-size: $font-s;
    margin: 28px 0;
    a{
      color: #FFFFFF;
    }
  }
}
