@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "San Francisco";
}

a {
  text-decoration: none;
  color: #AC8A46;
}

img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 2, "wght" 700, "GRAD" 0, "opsz" 24;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

.d-flex {
  display: flex;
}

.f-warp {
  flex-wrap: wrap;
}

.f-end {
  justify-content: flex-end;
  align-items: center;
}

.f-jca {
  justify-content: center;
  align-items: center;
}

.d-column {
  flex-direction: column-reverse;
}

.logo {
  width: 128px;
  height: 38px;
  background-image: url("/img/d’Perfume.png");
}

.nav {
  width: 100%;
}

.nav-group {
  position: relative;
  justify-content: space-between;
  padding: 16px;
}
@media (max-width: 768px) {
  .nav-group {
    padding: 9px;
    align-items: center;
  }
}
.nav-group .menu {
  position: absolute;
  right: -18%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #8D8D8D;
  gap: 32px;
}
@media (max-width: 768px) {
  .nav-group .menu {
    flex-direction: column;
    right: -50%;
    top: 360%;
    background-color: #fff;
    display: none;
  }
  .nav-group .menu span {
    font-size: 50px;
  }
}
.nav-group a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8D8D8D;
}

.mobile {
  gap: 19px;
}
.mobile .mobile-icon {
  display: none;
}
@media (max-width: 768px) {
  .mobile .mobile-icon {
    display: block;
  }
}
.mobile .icon-cart {
  position: relative;
}
.mobile .cartQuantity {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 13px;
  top: -10px;
  right: -10px;
  padding: 10px;
  color: #FFFFFF;
  background-color: #916000;
  border-radius: 50%;
}

.close {
  display: none;
}

.menu-input:checked ~ .menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.menu-label {
  display: inline;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.bc-img {
  background-image: url("https://images.unsplash.com/photo-1532413992378-f169ac26fff0?q=80&w=3024&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .bc-img {
    background-position: 0px;
  }
}
.bc-img .title {
  padding: 312px 0 112px 0;
}
.bc-img .title h3 {
  font-size: 32px;
  color: #8D8D8D;
  padding-bottom: 20px;
}

.input-group input[type=text] {
  border: 2px solid #916000;
  border-radius: 4px 0px 0px 4px;
  padding: 21px 57px 20px 16px;
}

.input-group input[type=submit] {
  color: #FFFFFF;
  border: 2px solid #916000;
  border-radius: 0 4px 4px 0px;
  background-color: #916000;
  padding: 21px 26px 20px 27px;
  position: relative;
  margin: -6px;
}

.subnav {
  color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .subnav {
    display: block;
    padding: 32px 0;
  }
}

.submenu {
  justify-content: center;
  align-items: center;
}
.submenu .logo {
  margin: 0 20px 0 0;
}
.submenu p {
  font-size: 14px;
}

.sub-list {
  gap: 24px;
}
@media (max-width: 768px) {
  .sub-list {
    display: none;
  }
}
.sub-list li {
  font-size: 20px;
  margin: 28px 0;
}
.sub-list li a {
  color: #FFFFFF;
}

.search {
  background: #916019;
}
.search ul {
  padding: 14px;
  gap: 28px;
}
.search ul li a {
  font-size: 20px;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .search .side-menu {
    display: none;
  }
}

.main {
  margin-top: 80px;
}
@media (max-width: 768px) {
  .main {
    margin-top: 51px;
  }
}
.main .cart-row {
  margin-left: -15px;
  margin-right: -15px;
}
.main .column {
  width: 25%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 768px) {
  .main .column {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 30px;
  }
}

.card {
  font-weight: 300;
}
.card .img-box {
  max-width: 255px;
  height: 255px;
}
@media (max-width: 768px) {
  .card .img-box {
    max-width: 165px;
    height: 165px;
  }
}
.card .img-box img {
  width: 100%;
  height: 100%;
}

.card-body .title h3 {
  font-size: 24px;
}
@media (max-width: 768px) {
  .card-body .title h3 {
    font-size: 20px;
  }
}
.card-body .price p {
  padding-right: 8px;
}
.card-body .price span {
  color: #8D8D8D;
  text-decoration: line-through;
}
.card-body .icon {
  color: #916019;
}

.page {
  padding: 16px 0 40px 0;
}
.page ul {
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.page ul a {
  font-size: 20px;
  color: #000000;
}
.page ul a:hover {
  color: #AC8A46;
  text-decoration: underline;
}/*# sourceMappingURL=prducts.css.map */